.home {
    display:flex;
    background: #e6e6e6;
}

.landingImageDiv {
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden */
    /* background-image: url("../../assets/images/landing.jpg"); */
    /* background-image: linear-gradient(to top, #24c6dc -30%, #2b2a2a 100%),
    url("../../assets/images/landing.jpg"); */
}

.landingImage {
    flex-shrink: 0;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

/* .login-div {
    width: 632px;
    height: 683px;
    padding: 36px 121px 138px 100.5px;
    border-radius: 5px;
    background-color: #ffffff;
  } */

  .home-sub {
      display: flex;
      align-items: center;
      padding-left: 50px;
  }
  .login-div {
    /* width: 100%; */
    width: 450px;
    height: 35vw;
    height: 500px;
  /* padding: 36px 121px 138px 100.5px; */
    border-radius: 5px;
    background-color: #ffffff;
  }
  .loginHeader {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
  }

  .loginForm {
      display: flex;
      flex-direction: column;
      
  }

  .loginForm > input {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
  }

  .login-btn {
    /* margin: 43.5px 0 44px 0.5px;s */
    /* padding: 13px 172px 13px 173px; */
    border-radius: 23px;
    background-color: #24c6dc;
    border: none;
    color: #fff;
    padding: 8px 150px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
  }